{% extends 'base.html.twig' %}

{% block body %}
    {# source of data https://de.wikiquote.org/wiki/Deutsche_Sprichw%C3%B6rter #}

    <div class="row">
        <div class="col-md-offset-9 col-lg-3">
            <form action="{{ path('list') }}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="q" value="{{ q|default('') }}"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created at</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td><a href="/{{ item.id }}/_delete">delete</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No item found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page > 1 %}
                <li>
                    <a href="{{ path('list', {page: page-1, q: q}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..pages %}
                <li><a href="{{ path('list', {page: i, q: q}) }}">{{ i }}</a></li>
            {% endfor %}
            {% if page < pages %}
                <li>
                    <a href="{{ path('list', {page: page+1, q: q}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <h2>Create new Item</h2>

    <form action="{{ path('post') }}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title"/>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
